
.container-load{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-image: url(https://revistadiscomania.files.wordpress.com/2013/01/polvo-de-estrellas.gif?w=396);
  background-color:rgba(0, 0, 0, 0.356);
}
.center-load{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader{
  width: 800px;
  height: 800px;
  animation-name: nave;
  animation-duration: 4s;
  background-image: url(../../../assets/Animation/loaderShip.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transform:translateX(800%);
}
@keyframes nave {
  0%{
    transform:translateX(-100%);
  }
  100%{
    transform:translateX(500%);
  }
}
