/**-----------------Luna viewport-----------------------*/
.luna {
  height: 100vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  background-image: url(../../../assets/Luna/luna-fondo.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  user-select: none;
}
/**>>>>>> components <<<<<<*/
.bienvenida {
  height: 100%;
  width: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../assets/Luna/luna-giant.png);
  background-size: 85%;
  background-position: center bottom;
  background-repeat: no-repeat;
}

/**>>>>>> botones <<<<<<*/
.btn-salir {
  align-self: flex-start;
  width: 2.1vw;
  height: 2.1vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn-salir:hover {
  transform: scale(1.1);
}
.btn-inicio {
  width: 15vw;
  font-size: 2vw;
  font-family: "GoldplaySemiBold";
  border: none;
  border-radius: 50px;
  color: #fff;
  background-color: #ca2eb3;
}
.btn-inicio:hover {
  transform: scale(1.1);
}
.btn-opcion {
  width: 15vw;
  font-family: "GoldplayMedium";
  font-size: 1.4vw;
  color: #624bd1;
  background-color: #fafafa;
  border: #ffffff solid 2px;
  border-radius: 50px;
  padding: 5px;
  margin: 5px;
}
.btn-opcion:hover {
  background-color: #bebebe;
  color: #7a61f7;
  border: #b1b1b1 solid 1px;
  transform: scale(1.1);
}
.fadein {
  animation-name: fadein;
  animation-duration: 1s;
}
/* Mueve la nave de un punto a otro */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-success {
  background-color: #6abe02;
  color: #ffffff;
}
.btn-success:hover {
  background-color: #60af00;
  color: #ffffff;
}
.btn-fail {
  background-color: #ff0033;
  color: #ffffff;
}
.btn-fail:hover {
  background-color: #d4002a;
  color: #ffffff;
}
/**Fonts*/
.text-bienvenida {
  font-family: "GoldplayBold" !important;
  color: #2ad3ce;
  font-size: 4vw;
  margin-bottom: 0px;
}
.text-parrafo {
  font-family: "GoldplaySemiBold";
  font-size: 1.5vw;
  text-align: center;
  width: 55%;
}
.text-pregunta {
  font-family: "GoldplaySemiBold";
  font-size: 2vw;
  color: #28bdf8;
  margin-bottom: 0px;
}
.text-invitacion {
  font-family: "GoldplayMedium";
  font-size: 1.5vw;
}

/**-----------------Quizz viewport-----------------------*/
/**Quizz components*/
.quizz-container {
  height: 100vh;
  padding: 50px;
  user-select: none;
  background-image: linear-gradient(
    to right bottom,
    #341739ff,
    #311b3fff,
    #2c1e45e6,
    #25224bd9,
    #1c2650e6,
    #1a2755cc,
    #182959cc,
    #142a5ee6,
    #222963cc,
    #2f2667cc,
    #3d236aff,
    #4b1d6bff
  );
}
head {
  background: none;
}
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.preguntas-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 70%;
  background-color: #e5e7eb;
  border: none;
  border-radius: 25px;
}
.opciones-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.preguntas {
  width: 70%;
  padding: 100px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.preguntas-imagen {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
    to left bottom,
    #270677,
    #24046c,
    #210260,
    #1d0156,
    #1a004b
  );
  border-radius: 0px 20px 20px 0px;
  -moz-border-radius: 0px 20px 20px 0px;
  -webkit-border-radius: 0px 20px 20px 0px;
  border: 0px solid transparent;
}
.planetas-quizz {
  width: 24vw;
  transform: scale(1.1) translateX(-40px);
  justify-self: center;
}

/**>>>>>>>>> Quizz fonts <<<<<<<<<*/
.pregunta-title {
  color: #030233;
  font-family: "GoldplayBold";
  font-size: 4vw;
  text-align: center;
}
.pregunta-response {
  color: #585e99;
  font-family: "GoldplayMedium";
  font-size: 1.8vw;
  text-align: center;
  margin: 0px;
}

/**-----------------Dibujo viewport-----------------------*/
.dibujo {
  height: 100vh;
  padding: 30px;
  background-image: url(../../../assets/images/Fondo-Info.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/** >>>>>>> Responsive Design <<<<<<<*/
@media screen and (max-width: 768px) {
  /**Fonts*/
  .text-bienvenida {
    font-size: 6vw;
  }
  .text-parrafo {
    font-size: 3vw;
  }
  .text-pregunta {
    font-size: 4vw;
  }
  .text-invitacion {
    font-size: 3vw;
  }
  .btn-inicio {
    width: 30vw;
    font-size: 4vw;
  }
}

@media screen and (max-width: 576px) {
  /** ---Quizz viewport--- */
  /**Quizz components*/
  .planetas-quizz {
    width: 25vw;
    transform: scale(1) translateX(-10px);
  }
  .preguntas-container {
    height: 280px;
    width: 300px;
  }
  .btn-opcion {
    width: 30vw;
    font-size: 2.3vw;
  }
  .pregunta-title {
    font-size: 4vw;
    text-align: center;
  }
  .pregunta-response {
    font-size: 2.8vw;
  }
}
@media screen and (max-height: 555px) {
  .quizz-container {
    overflow-y: auto;
  }
  /** >>>>> Scroll Bar <<<<<<*/
  .quizz-container::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  .quizz-container::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-clip: content-box;
    border-radius: 6px;
    border: solid 4px transparent;
  }
  .quizz-container::-webkit-scrollbar-track-piece:decrement {
    background-clip: content-box;
    border: solid 4px transparent;
  }
  .quizz-container::-webkit-scrollbar-thumb {
    background-color: #9c62f3e1;
    width: 4px;
    border-radius: 6px;
  }
  .quizz-container::-webkit-scrollbar-track {
    /*background: #EFF7F8;*/
    background: #ffffff5e;
    border-radius: 50px;
  }
}
