<!-- Bienvenida -->
<div class="luna" *ngIf="!hiddenGame && !cuestionario">
  <div class="bienvenida" *ngIf="cuestionario === false">
    <button class="btn-salir" (click)="irSistema()"></button>
    <h1 class="text-bienvenida">¡Bienvenido a la Luna!</h1>
    <p class="text-parrafo">
      La Luna es el único satélite natural de la Tierra. Se encuentra en
      relación síncrona con la Tierra, siempre mostrando la misma cara hacia el
      planeta.
    </p>
    <p class="text-pregunta">¿Te gustaría reforzar tus conocimientos?</p>
    <p class="text-invitacion">Contesta correctamente el siguiente Quizz.</p>
    <button class="btn-inicio" (click)="mostrarCuestionario()">
      Iniciar Quizz
    </button>
  </div>
</div>
<!-- cuestionario -->
<div class="quizz-container" *ngIf="cuestionario">
  <header>
    <button class="btn-salir" (click)="salirCuestionario()"></button>
  </header>
  <body>
    <div class="preguntas-container">
      <div class="preguntas">
        <!-- Cuestionario con preguntas aleatorias -->
        <div id="preguntas-title">
          <h1 class="pregunta-title">Quizz Espacial</h1>
          <p class="pregunta-response">
            {{ lunaDatos[random][selector].pregunta }}
          </p>
        </div>

        <button
          class="btn-opcion"
          (click)="
            seleccionarOpcion(lunaDatos[random][selector].opciones[0].value)
          "
        >
          {{ lunaDatos[random][selector].opciones[0].opcion }}
        </button>
        <button
          class="btn-opcion"
          (click)="
            seleccionarOpcion(lunaDatos[random][selector].opciones[1].value)
          "
        >
          {{ lunaDatos[random][selector].opciones[1].opcion }}
        </button>
        <button
          class="btn-opcion"
          (click)="
            seleccionarOpcion(lunaDatos[random][selector].opciones[2].value)
          "
        >
          {{ lunaDatos[random][selector].opciones[2].opcion }}
        </button>
        <button
          class="btn-opcion"
          (click)="
            seleccionarOpcion(lunaDatos[random][selector].opciones[3].value)
          "
        >
          {{ lunaDatos[random][selector].opciones[3].opcion }}
        </button>
      </div>
      <div class="preguntas-imagen">
        <img
          class="planetas-quizz"
          src="../../../assets/Luna/planetas-quizz.png"
          alt="Imagenes de planetas"
        />
      </div>
    </div>
  </body>
</div>
<!-- hiddenGame -->
<div class="dibujo" *ngIf="hiddenGame">
  <button class="btn-salir" (click)="salir()"></button>
  <!-- Pizarra para realizar un dibujo oculta -->
  <app-dibujo></app-dibujo>
</div>
