<div class="luna" *ngIf="!hiddenGame">

  <div class="preguntas-container" *ngIf="cuestionario===false">
    <h1>Bienvenido a la Luna</h1>
    <p>La Luna es el único satélite natural de la Tierra.
      Se encuentra en relación síncrona con la Tierra, siempre mostrando la misma cara hacia el planeta.</p>
    <p>Te gustaría reforzar tus conocimientos</p>
    <p>A continuacion puedes resolver un formulario</p>
    <button class="btn btn-outline-success" (click)="mostrarCuestionario()"> Realizar Quizz</button>
    <button class="btn btn-outline-danger" (click)="irSistema()"> Ir al sistema solar </button>
  </div>


  <div class="preguntas-container" *ngIf="cuestionario===true">
    <p>{{lunaDatos[selector].pregunta}} </p>
    <button class="btn btn-primary" (click)="opA(lunaDatos[selector].opciones[0].value)">{{lunaDatos[selector].opciones[0].opcion}} </button>
    <button class="btn btn-primary" (click)="opB(lunaDatos[selector].opciones[1].value)">{{lunaDatos[selector].opciones[1].opcion}}</button>
    <button class="btn btn-primary" (click)="opC(lunaDatos[selector].opciones[2].value)">{{lunaDatos[selector].opciones[2].opcion}}</button>
    <button class="btn btn-outline-success" (click)="siguientePregunta()"> Siguiente </button>
  </div>

</div>

<div class="luna" *ngIf="hiddenGame">
  <app-dibujo></app-dibujo>
  <!-- <p>Felicidades haz descubierto el lado obscuro de la luna</p>
  <canvas #canvasRef id="canvasId" width="800" height="800" style="border: solid 1px #FFF;"></canvas>
  <h3 class="barra"></h3>
  <button class="btn btn-outline-danger" (click)="limpiarCanvas()">Borrar </button>
  <a id="dibujo"><button class="btn btn-outline-success" (click)="descargar($event)">Descargar </button></a> -->

  <button class="btn btn-outline-danger" (click)="salir()">Salir </button>

</div>
