.luna {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preguntas-container {
  display: flex;
  flex-direction: column;
}
.hidden-game {
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
}
.show-game {
  width: 800px;
  height: 800px;
  border: solid 1px #fff;
  opacity: 0;
}
