.dibujo-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controles {
  width: 83%;
  display: grid;
  justify-items: center;
  grid-template-columns: 50% 50%;
}
.dibujo {
  height: 80%;
  width: 40%;
}
#canvasId {
  width: 100%;
  height: 100%;
  border: solid 1px #fff;
  background-color: #09112b;
  border: #3ce8ea solid 1px;
  border-radius: 25px;
}

/** >>>>> Botones <<<<<*/
.btn {
  width: 10vw;
  margin: 10px;
  font-size: 1.2vw;
  font-family: "GoldplaySemiBold";
  color: #ffffff;
  border: none;
  border-radius: 50px;
}
.btn:hover {
  transform: scale(1.1);
}
.left {
  background-color: #28bdf8;
}
.right {
  background-color: #ca2eb3;
}

/** Tamaños de pincel*/
.controles-contain {
  width: 11vw;
  height: 3vw;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #ffffff;
  border-radius: 7px;
  background-color: #f3f3f6;
}
.tmo {
  border: none;
  border-radius: 50%;
  background-color: #34297c;
}
.tmo:hover {
  transform: scale(1.1);
}
.xs {
  width: 15px;
  height: 15px;
}
.s {
  width: 20px;
  height: 20px;
}
.m {
  width: 25px;
  height: 25px;
}
.b {
  width: 30px;
  height: 30px;
}

/**Colores de pincel */
.colores-contain {
  width: 15vw;
  padding: 5px;
}
.color-pincel {
  width: 30px;
  height: 30px;
  border: solid 1px #ffffff;
  border-radius: 50%;
}
.color-pincel:hover {
  transform: scale(1.1);
}
input[type="color"] {
  width: 30px;
  height: 30px;
  border: solid 1px #ffffff;
  border-radius: 50px;
}
.verde {
  background-color: #bad616;
}
.azul {
  background-color: #28bef9;
}
.morado {
  background-color: #7a54ff;
}
.rosa {
  background-color: #e2338f;
}
.melon {
  background-color: #ff5e85;
}
.all-color {
  background-color: #9900ff;
}
/** >>>>> Fonts <<<<<*/
h1 {
  font-family: "GoldplayBold";
  font-size: 3.8vw;
  color: #5a65fc;
}
.control-text {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0rem;
  color: #624bd1;
  font-family: "GoldplayMedium";
  font-size: 1vw;
}
.mtl {
  margin-left: 80px;
}
.subtitulo {
  text-align: center;
  font-family: "GoldplaySemiBold";
  font-size: 1.5vw;
  color: #030233;
  margin: 0px;
}
.descripcion {
  width: 55%;
  margin: 0px;
  font-family: "GoldplayMedium";
  font-size: 1.2vw;
  text-align: center;
  color: #585e99;
}
/**Responsive design*/
@media screen and (max-width: 768px) {
  .dibujo-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow-y: auto;
  }
  /** >>>>> Fonts <<<<<*/
  h1 {
    font-size: 6.8vw;
  }
  .subtitulo {
    font-size: 3vw;
  }
  .descripcion {
    width: 100%;
    font-size: 3vw;
  }
  .control-text {
    font-size: 2vw;
  }
  /**Buttons*/
  .btn {
    width: 20vw;
    margin: 20px;
    font-size: 2.4vw;
  }
  #canvasId {
    border: solid 1px #fff;
    background-color: #09112b;
    border: #3ce8ea solid 1px;
    border-radius: 25px;
  }
}
