<div class="dibujo-container" (window:resize)="onResize($event)">
  <section class="menu">
    <!-- (window:load)="onLoad($event)"> -->
    <!-- Descripción -->
    <h1>¡Felicidades!</h1>
    <p class="subtitulo">Haz llegado al lado obscuro de la luna</p>
    <p class="descripcion">
      A continuación realiza un dibujo de lo que para ti es el universo.
    </p>

    <div class="controles">
      <p class="control-text">Elige tu color</p>
      <p class="control-text mtl">Grosor de pincel</p>
      <!-- Cambia el color del lapiz -->
      <div class="controles-contain colores-contain">
        <!-- Tamaño en  -->
        <button
          id="verde"
          class="color-pincel verde"
          (click)="setColor($event)"
        ></button
        ><!-- Tamaño en  -->
        <button
          id="azul"
          class="color-pincel azul"
          (click)="setColor($event)"
        ></button
        ><!-- Tamaño en  -->
        <button
          id="morado"
          class="color-pincel morado"
          (click)="setColor($event)"
        ></button
        ><!-- Tamaño en  -->
        <button
          id="rosa"
          class="color-pincel rosa"
          (click)="setColor($event)"
        ></button
        ><!-- Tamaño en  -->
        <button
          id="melon"
          class="color-pincel melon"
          (click)="setColor($event)"
        ></button
        ><!-- Tamaño en  -->
        <!-- <button id="all-color" class="color-pincel all-color"></button
        > -->
        <input
          id="selectorColor"
          type="color"
          value="#FFFFFF"
          (change)="configSelected()"
        />
      </div>

      <!-- Cambia el grosor del lapiz -->
      <div class="controles-contain">
        <button id="big" class="tmo b" (click)="setGrosor($event)"></button
        ><!-- Tamaño en  -->
        <button id="mid" class="tmo m" (click)="setGrosor($event)"></button
        ><!-- Tamaño en  -->
        <button id="small" class="tmo s" (click)="setGrosor($event)"></button
        ><!-- Tamaño en  -->
        <button id="xsmall" class="tmo xs" (click)="setGrosor($event)"></button>
      </div>

      <!-- Boton que limpia el contenido del canvas -->
      <button class="btn left" (click)="limpiarCanvas()">Borrar</button>
      <!-- Boton para descargar la imagen dibujada -->
      <a id="dibujo"
        ><button class="btn right" (click)="descargar($event)">
          Descargar
        </button></a
      >
    </div>
  </section>
  <section class="dibujo">
    <!-- Canvas sobre el cual se realizara el dibujo -->
    <canvas
      #canvasRef
      id="canvasId"
      width="{{ width }}"
      height="{{ height }}"
    ></canvas>
  </section>
</div>
