.sistema {
  height: 100vh;
  display: flex;
  padding: 0px;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../../../assets/Planetas/trayectoria.png);
  background-size: 100% 75%;
  background-position: bottom left;
  background-repeat: no-repeat;
  user-select: none;
  position: fixed;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 2%;
}
.btn {
  width: 2vw;
  height: 2vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn-r {
  margin-left: 20px;
  transform: rotate(180deg);
}
.btn-r:hover {
  transform: rotate(180deg) scale(1.2);
}
.btn-l:hover {
  transform: scale(1.2);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}
.title {
  width: 30%;
  font-size: 2vw;
  text-align: center;
  align-self: center;
  color: #fc8b62;
}
.subtitle {
  font-size: 2vw;
  color: #ffffff;
}
label {
  font-size: 1.3vw;
  font-family: "GoldplaySemiBold";
}

.planeta-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.planeta-content:hover {
  color: #3ef1f2;
}

.planeta {
  margin: 0px;
}
.planeta:hover {
  cursor: pointer;
}

/************* Contenedor de los planetas******************/
.sistema-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*****************Tamaños de Planetas***************/
.sol {
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 22vw;
  margin-top: 0px;
}
.mercurio {
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 7vw;
  margin-top: 0px;
}
.venus {
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 8vw;
  margin-top: 0px;
}
.tierra {
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 8vw;
  margin-top: 0px;
}
.marte {
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 8vw;
  margin-top: 0px;
}
.jupiter {
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 13vw;
  margin-top: 0px;
}
.saturno {
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 24vw;
  margin-top: 0px;
}
.urano {
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 7vw;
  margin-top: 0px;
}
.neptuno {
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 7vw;
  margin-top: 0px;
}

.sol:hover,
.mercurio:hover,
.venus:hover,
.tierra:hover,
.marte:hover,
.jupiter:hover,
.saturno:hover,
.urano:hover,
.neptuno:hover {
  background-image: url(../../../assets/Planetas/hover_planeta.png);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /*Se usa el padding y el scale para crear el efecto de aura en el hover*/
  padding: 15px;
  transform: scale(1.2);
}

.a {
  transform: translate(30%, 35%);
}
.b {
  transform: translate(100%, 50%);
}
.c {
  transform: translate(140%, 40%);
}
.d {
  transform: translate(180%, 60%);
}
.e {
  height: 50%;
  transform: translate(35%, 20%);
}
.f {
  transform: translate(55%, -2%);
}
.g {
  transform: translate(0%, 55%);
}
.h {
  transform: translate(-145%, 5%);
}
.i {
  transform: translate(-85%, 30%);
}
/*****************Tamaños de Planetas***************/

/*****************Animacion Planetas***************************/
@keyframes uno {
  0% {
    transform: translateY(10%);
  }
  25% {
    transform: translateY(-10%);
  }
  75% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes dos {
  0% {
    transform: translateY(-10%);
  }
  25% {
    transform: translateY(10%);
  }
  75% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}
/*****************Animacion Planetas***************************/

/** >>>>> Responsive Design <<<<<<< */
@media screen and (max-width: 992px) {
  .sistema {
    background-image: none;
  }
}
@media screen and (max-height: 768px) {
  .sistema {
    overflow-y: scroll;
    overflow-x: hidden;
    background-image: none;
  }
}

@media screen and (max-width: 768px) {
  .sistema {
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    justify-content: flex-start;
    background-image: none;
  }

  .sistema::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  .sistema::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-clip: content-box;
    border-radius: 6px;
    border: solid 4px transparent;
  }
  .sistema::-webkit-scrollbar-track-piece:decrement {
    background-clip: content-box;
    border: solid 4px transparent;
  }
  .sistema::-webkit-scrollbar-thumb {
    background-color: #9c62f3e1;
    width: 4px;
    border-radius: 6px;
  }
  .sistema::-webkit-scrollbar-track {
    /*background: #EFF7F8;*/
    background: #ffffff5e;
    border-radius: 50px;
  }
  .sistema-content {
    flex-direction: column;
  }

  .header {
    margin-top: 30px;
  }
  .title {
    width: 100%;
    font-size: 5vw;
  }
  .subtitle {
    font-size: 3vw;
  }
  label {
    font-size: 3vw;
  }

  .planeta-content {
    margin-top: 50px;
  }
  .saturno,
  .jupiter {
    order: 1;
  }

  .planetas-content {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .planeta {
    margin: 0px;
  }
  .planeta:hover {
    cursor: pointer;
  }

  .sol,
  .mercurio,
  .venus,
  .tierra,
  .marte,
  .jupiter,
  .saturno,
  .urano,
  .neptuno {
    height: auto;
    width: 50vw;
  }

  .a {
    transform: translate(0px, 0px);
  }
  .b {
    transform: translate(0px, 0px);
  }
  .c {
    transform: translate(0px, 0px);
  }
  .d {
    transform: translate(0px, 0px);
  }
  .e {
    transform: translate(0px, 0px);
  }
  .f {
    transform: translate(0px, 0px);
  }
  .g {
    transform: translate(0px, 0px);
  }
  .h {
    transform: translate(0px, 0px);
  }
  .i {
    transform: translate(0px, 0px);
    margin-bottom: 25px;
  }
}
