.sistema{
  height: 100vh;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
  background-image: url(../../../assets/Planetas/trayectoria.png);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;

}

.planeta-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.planeta{
  margin: 10px;
}
.planeta:hover{
  cursor: pointer;
}
/************* Contenedor de los planetas******************/
.sistema-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}



/*****************Tamaños de Planetas***************/
.sol{
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 13vw;
  margin-top: 0px;

}
.mercurio{
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 3vw;
  margin-top: 0px;

}
.venus{
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 6vw;
  margin-top: 0px;

}
.tierra{
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 8vw;
  margin-top: 0px;

}
.marte{
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 6vw;
  margin-top: 0px;

}
.jupiter{
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 11vw;
  margin-top: 0px;

}
.saturno{
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 10vw;
  margin-top: 0px;

}
.urano{
  animation-name: dos;
  animation-duration: 1s;
  height: auto;
  width: 9vw;
  margin-top: 0px;

}
.neptuno{
  animation-name: uno;
  animation-duration: 1s;
  height: auto;
  width: 8vw;
  margin-top: 0px;

}
/*****************Tamaños de Planetas***************/

/*****************Animacion Planetas***************************/
@keyframes uno {
  0%{transform: translateY(10%);}
  25%{transform: translateY(-10%);}
  75%{transform: translateY(2%);}
  100%{transform: translateY(0%);}
}
@keyframes dos {
  0%{transform: translateY(-10%);}
  25%{transform: translateY(10%);}
  75%{transform: translateY(-1%);}
  100%{transform: translateY(0%);}
}
/*****************Animacion Planetas***************************/

@media screen and (max-width:575px) {
  .sistema-content{
    flex-direction: column;
    margin-top: 1300px;
  }
  .planetas-content{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  .sistema{
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }


  .sistema::-webkit-scrollbar{
    width: 13px;
    height: 10px;
  }
  .sistema::-webkit-scrollbar-track-piece{
    border-radius: 2px;
      background-clip: content-box;
      border-radius: 6px;
      border: solid 4px transparent;
  }
  .sistema::-webkit-scrollbar-track-piece:decrement {
    background-clip: content-box;
    border: solid 4px transparent;
  }
  .sistema::-webkit-scrollbar-thumb {
    background-color: #130D3D;
    width: 4px;
    border-radius: 6px;
  }
  .sistema::-webkit-scrollbar-track {
    /*background: #EFF7F8;*/
    background: #cecece;
    border-radius: 50px;
  }


  label{
    font-size: small;
  }
  .sol{
    height: auto;
    width: 25vw;
  }
  .mercurio{
    height: auto;
    width: 25vw;
  }
  .venus{
    height: auto;
    width: 25vw;
  }
  .tierra{
    height: auto;
    width: 25vw;
  }
  .marte{
    height: auto;
    width: 25vw;
  }
  .jupiter{
    height: auto;
    width: 25vw;
  }
  .saturno{
    height: auto;
    width: 25vw;
  }
  .urano{
    height: auto;
    width: 25vw;
  }
  .neptuno{
    height: auto;
    width: 25vw;
  }

}

@media screen and (max-width:448px) {
  .sistema-content{
    margin-top: 1000px;
  }
}
@media screen and (max-width:393px) {
  .sistema-content{
    margin-top: 800px;
  }
}
@media screen and (max-width:280px) {
  .sistema-content{
    margin-top: 500px;
  }
}
