<div class="container-fluid sistema" *ngIf="mostrarPlaneta===false" >
  <!-- (click)="estrellas()" -->
  <div class="row justify-content-evenly align-items-center">

    <div class="col-12 col-xl-2 col-md-2 col-sm-2 planeta-content" (click)="sol()">
      <label>Sol</label>
      <img class="planeta sol" src="../assets/Planetas/sol.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="mercurio()">
      <label>Mercurio</label>
      <img class="planeta mercurio" src="../assets/Planetas/mercurio.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="venus()">
      <label>Venus</label>
      <img class="planeta venus" src="../assets/Planetas/venus.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="tierra()">
      <label>Tierra</label>
      <img class="planeta tierra" src="../assets/Planetas/tierra.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="marte()">
      <label>Marte</label>
      <img class="planeta marte" src="../assets/Planetas/marte.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="jupiter()">
      <label>Jupiter</label>
      <img class="planeta jupiter" src="../assets/Planetas/jupiter.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="saturno()">
      <label>Saturno</label>
      <img class="planeta saturno" src="../assets/Planetas/saturno.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="urano()">
      <label>Urano</label>
      <img class="planeta urano" src="../assets/Planetas/urano.png" alt="" >
    </div>
    <div class="col-12 col-xl-1 col-md-1 col-sm-1 planeta-content" (click)="neptuno()">
      <label>Neptuno</label>
      <img class="planeta neptuno" src="../assets/Planetas/neptuno.png" alt="" >
    </div>
</div>


  <div class="d-grid justify-content-sm-end">
    <button class="btn btn-outline-light" type="button" (click)="estrellas()"> Zoom + </button>
    <button class="btn btn-outline-light" type="button" (click)="irUniverso()">Zoom -</button>
  </div>

</div>

<app-planetas *ngIf="mostrarPlaneta==true" [planetaSelected]="planetaSelec"></app-planetas>

