<div class="galaxia-universo">
  <header>
    <!-- botones de ir a galaxia o a sistema solar -->
    <button class="btn" type="button" (click)="irUniverso()"></button>
    <button
      class=""
      type="button"
      *ngIf="galaxiaSelected == 0"
      (click)="irSistema()"
    >
      Visitar nuestro sistema solar
    </button>
  </header>

  <body>
    <!--Telescopio Oculto imagen de la galaxia y boton para abrir telescopio-->
    <div class="telescopio" *ngIf="abrirTelescopio === false">
      <div class="menu">
        <img
          class="imagen"
          width="400"
          height="200"
          src="{{ galaxiasDatos[galaxiaSelected].image }}"
          alt="{{ galaxiasDatos[galaxiaSelected].name }}"
        />
        <button class="" type="button" (click)="mostrarTelescopio()">
          Abrir telescopio
        </button>
      </div>
    </div>

    <!-- Muestra u oculta el menu dependiendo de si se muestra o no el telescopio -->
    <div class="galaxia-form" *ngIf="abrirTelescopio === false">
      <!-- contiene la informacion de cada galaxia -->
      <div class="galaxia-information" *ngIf="abrirTelescopio === false">
        <p class="gpPlayBold">{{ galaxiasDatos[galaxiaSelected].name }}</p>
        <p>Tipo: {{ galaxiasDatos[galaxiaSelected].tipo }}</p>
        <p>Radio: {{ galaxiasDatos[galaxiaSelected].radio }}</p>
        <p>Descripción: {{ galaxiasDatos[galaxiaSelected].description }}</p>
      </div>

      <div class="mb-3 mt-3">
        <!-- creacion del PDF -->
        <form>
          <label for="resumenGalaxia" class="form-label">Escribe aquí</label>
          <textarea
            class="form-control"
            id="resumenGalaxia"
            rows="3"
            name="Resumen"
            [(ngModel)]="pdfText"
          ></textarea>
        </form>
      </div>
      <button class="b" type="button" (click)="createPDF()">
        Imrpimir PDF
      </button>
    </div>
  </body>

  <!------------------------------------T E L E S C O P I O-------------------------------------------------------->
  <!--Mostrando Telescopio-->
  <div class="telescopio-under" *ngIf="abrirTelescopio === true">
    <app-telescopio [datos]="informacion"></app-telescopio>
    <button class="" type="button" (click)="ocultarTelescopio()">
      Cerrar telescopio
    </button>
  </div>
  <!--Mostrando Telescopio-->
  <!------------------------------------T E L E S C O P I O-------------------------------------------------------->
</div>
