.galaxia-universo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url(../../../assets/images/Fondo-Info.png);
  background-size: 65% 100%;
  background-position-x: right;
  background-repeat: no-repeat;
  align-items: center;
  position: fixed;
}
header {
  width: 100%;
  display: flex;
  padding: 20px 0px 0px 20px;
  flex-direction: row;
  justify-items: baseline;
}
body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: none;
}
.telescopio {
  height: 100%;
  width: 35%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image-galaxia {
  width: 80%;
}
.galaxia-form {
  width: 65%;
  height: 100%;
  padding: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
}
.galaxia-information {
  margin-top: 3%;
}
.galaxia-writer {
  margin-top: 3%;
}
/** >>>Buttons<<< */
.btn {
  width: 2vw;
  height: 2vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn:hover {
  transform: scale(1.1);
}
.btn-ot {
}
/** >>>Fonts<<< */
span {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 5vw;
  color: #000000;
}
.semiBold {
  font-family: "GoldplaySemiBold";
}
p {
  font-family: "GoldplayMedium";
  color: #000000;
}

/*******STAR********/
@media screen and (max-width: 1200px) {
  .imagen {
    width: 350px;
  }

  .imagen2 {
    width: 700px;
  }
}

@media screen and (max-width: 992px) {
  .galaxia-universo {
    align-items: baseline;
    justify-content: baseline;
  }
  .telescopio {
    flex-direction: column;
    justify-content: baseline;
  }
  .imagen {
    width: 300px;
  }

  .imagen2 {
    width: 600px;
  }
}

@media screen and (max-width: 575px) {
  .telescopio-container {
    padding: 0px;
  }
  .imagen {
    width: 200px;
  }

  .imagen2 {
    width: 400px;
    transform: translateY(-100%);
    transform: translateX(-10%);
  }
}
/*******END********/
