.galaxia-universo {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

/** >>>>> Componentes <<<<< */
.navbar {
  width: 100%;
  display: flex;
  padding: 20px;
  flex-direction: row;
  justify-content: flex-start;
}
.telescopio {
  height: 100%;
  width: 35%;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image {
  width: 80%;
}
.form {
  width: 65%;
  height: 100vh;
  padding: 65px 30px 0px 30px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url(../../../assets/images/Fondo-Info.png);
  background-size: 100% 100vh;
  background-position-x: right;
  background-repeat: repeat;
}
.information {
  margin-top: 3%;
}
.writer {
  width: 100%;
  margin-top: 1%;
}

/** >>>Buttons<<< */
.btn {
  width: 2.1vw;
  height: 2.1vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn:hover {
  transform: scale(1.1);
}
/** Exclusive */
.btn-r {
  margin-left: 20px;
  transform: rotate(180deg);
}
/** Exclusive */
.btn-r:hover {
  transform: rotate(180deg) scale(1.2);
}
.btn-ot {
  background-color: #8dae15;
  background-image: url(../../../assets/images/abrir-telescopio.png);
}
.btn-imprimir {
  border-radius: 50px;
  width: 8vw;
  border: none;
  background-color: #5a65fc;
  color: #ffffff;
  font-size: 1.5vw;
  justify-self: center;
  text-align: center;
  margin: 15px;
  transform: translateY(-167%);
}
/** >>>Fonts<<< */
.titles {
  display: flex;
  flex-direction: row;
}
span {
  display: flex;
  flex-direction: row;
}
.title {
  font-size: 5vw;
  color: #000000;
  margin-right: 15px;
}
.title-purple {
  color: #5a65fc;
}
.semiBold {
  font-family: "GoldplaySemiBold";
  font-weight: bolder;
  color: #030233;
  margin-right: 5px;
}
.info-desc {
  font-size: 1vw;
  color: #5a65fc;
}
.desc {
  color: #585e99;
}
p {
  font-family: "GoldplayMedium";
  color: #000000;
}
.form-control {
  height: 22vh;
  background-color: #f8f8f8;
  color: #a0a8bc;
  font-family: "GoldplayMedium";
  font-style: italic;
  border-radius: 0.5rem;
}
.form-control:focus {
  color: #000000;
  font-family: "GoldplayMedium";
  font-style: normal;
}

/** >>>>> Responsive Design <<<<<*/

@media screen and (max-width: 768px) {
  .galaxia-universo {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-image: url(../../../assets/images/Fondo-Info.png); */
    background-image: none;
    align-items: baseline;
    position: relative;
  }
  header {
    margin-bottom: 25%;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
  }
  .telescopio {
    width: 100%;
  }
  .form {
    width: 100%;
    background-image: url(../../../assets/images/Fondo-Info.png);
  }
  .image {
    width: 45%;
  }
}
