<div class="galaxia-universo">

  <div class="galaxia-content">
    <p>{{galaxiasDatos[galaxiaSelected].name}}</p>
    <p>Tipo: {{galaxiasDatos[galaxiaSelected].tipo}}</p>
    <p>Radio: {{galaxiasDatos[galaxiaSelected].radio}}</p>
    <p>Descripción: {{galaxiasDatos[galaxiaSelected].description}}</p>
    <img class="galaxia-imagen" src={{galaxiasDatos[galaxiaSelected].image}} alt={{galaxiasDatos[galaxiaSelected].name}}>
  </div>

    <div class="mb-3 mt-3">
      <form>
        <label for="resumenGalaxia" class="form-label">Escribe aquí</label>
        <textarea class="form-control" id="resumenGalaxia" rows="3" name="Resumen" [(ngModel)]="pdfText"></textarea>

      </form>
    </div>

    <button class="btn btn-outline-danger" type="button"  (click)="createPDF()" >Imrpimir PDF</button>

  <div class="d-grid gap-2 d-md-flex justify-content-sm-end">
    <button class="btn btn-outline-warning" type="button" *ngIf="galaxiaSelected==0" (click)="irSistema()">Visitar nuestro sistema solar</button>
    <button class="btn btn-outline-primary" type="button" (click)="irUniverso()">Regresar</button>
  </div>
</div>
