<div class="container-fliud estrella">
  <div class="estrella-content">
    <!-- Contiene la informacion de la estrella -->
    <div class="estrella-datos" *ngIf="abrirTelescopio==false;">
      <p>Clase: {{estrellaSelecDatos[selecEstrella].clase}}</p>
      <p>Color: {{estrellaSelecDatos[selecEstrella].color}}</p>
      <p>Temperatura: {{estrellaSelecDatos[selecEstrella].temperatura}}</p>
      <p>Masa: {{estrellaSelecDatos[selecEstrella].masa}}</p>
      <p>Descripción: {{estrellaSelecDatos[selecEstrella].desc}}</p>
    </div>

  </div>



  <!------------------------------------T E L E S C O P I O-------------------------------------------------------->
  <!--Telescopio Oculto imagen del planeta y boton para abrir telescopio-->
  <div class="telescopio" *ngIf="abrirTelescopio===false">
    <div class="menu" >
      <img class="estrella-imagen" src={{estrellaSelecDatos[selecEstrella].image}} alt= {{estrellaSelecDatos[selecEstrella].clase}}>
      <button class="btn btn-outline-success" type="button" (click)="mostrarTelescopio()"> Abrir telescopio</button>
    </div>
  </div>

  <!--Mostrando Telescopio-->
  <!--Mostrando Telescopio-->
  <div class="telescopio" *ngIf="abrirTelescopio===true">
    <!-- Telescopio hereda la informacion -->
    <app-telescopio [datos]="informacion" ></app-telescopio>
    <button class="btn btn-outline-danger" type="button" (click)="ocultarTelescopio()"> Cerrar telescopio</button>
  </div>
  <!--Mostrando Telescopio-->
  <!--Mostrando Telescopio-->


<!------------------------------------T E L E S C O P I O-------------------------------------------------------->


  <!-- Muestra u oculta el menu dependiendo de si se muestra o no el telescopio -->
  <div class="estrellas-form" *ngIf="abrirTelescopio==false;">
    <form>
      <!--Creacion del PDF-->
      <div class="mb-3 mt-3">
        <label for="exampleFormControlTextarea1" class="form-label">Escribe aquí</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Resumen" [(ngModel)]="pdfText"></textarea>
      </div>
      <button class="btn btn-outline-danger" type="button" (click)="createPDF()">Imrpimir PDF</button>
    </form>
    <!-- Menu -->
    <div class="d-grid gap-2 d-md-flex justify-content-sm-end">
      <button class="btn btn-outline-light" (click)="irEstrellas()">Zoom -</button>
    </div>
  </div>

</div>
