.universo {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-image: url(../../../assets/Galaxias/esquinas.png);
  background-repeat: no-repeat;
  background-size: cover;
  user-select: none;
}

h1 {
  font-size: 5vw !important;
  color: #d835c9;
  text-align: center;
}
h2 {
  width: 50%;
  text-align: center;
}
.title {
  display: flex;
  align-self: end;
  flex-direction: column;
  align-items: center;
  grid-area: 1/2/1/4;
}
label {
  font-size: 2vw;
  text-align: center;
  font-family: "GoldplayBold";
}

.btn {
  width: 50%;
  font-size: 1.4vw;
  font-weight: bold;
  color: #3ef1f2;
  border: #3ef1f2 1px solid;
  border-radius: 50px;
  background-color: #5675d141;
}
.btn:hover {
  background-color: #5675d1f8;
  color: #3ef2f2;
}

.galaxias-container {
  height: 100%;
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 5px;
}
.galaxia-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.galaxia-content:hover {
  color: #3ef1f2;
  color: #3ef1f2;
  transform: scale(1.1);
}
.galaxia {
  height: auto;
  width: 18vw;
}
.galaxia:hover {
  cursor: pointer;
}

.a {
  align-self: stretch;
  animation-name: A;
  animation-duration: 0.6s;
}
.b {
  align-self: stretch;
  animation-name: B;
  animation-duration: 0.5s;
}
.c {
  align-self: start;
  animation-name: C;
  animation-duration: 0.4s;
}
.d {
  align-self: stretch;
  animation-name: D;
  animation-duration: 0.3s;
}
.e {
  align-self: stretch;
  animation-name: E;
  animation-duration: 0.2s;
}
.f {
  align-self: start;
  animation-name: F;
  animation-duration: 0.1s;
}

/** >>>>> A N I M A T I O N <<<< */
@keyframes A {
  0% {
    transform: translateY(-120%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes B {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes C {
  0% {
    transform: translateY(-80%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes D {
  0% {
    transform: translateY(-60%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes E {
  0% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes F {
  0% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0%);
  }
}

/** >>>>>>>>>>>>> Phone Design <<<<<<<<<<<<<  */

@media screen and (max-width: 992px) {
  .btn {
    width: 50%;
    font-size: 13px;
    font-weight: bold;
    color: #3ef1f2;
    border: #3ef1f2 1px solid;
    border-radius: 50px;
    background-color: #5675d141;
  }

  .galaxia {
    height: auto;
    width: 13vw;
  }
}

@media screen and (max-width: 768px) {
  .universo {
    overflow-y: scroll;
  }
  .universo::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  .universo::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-clip: content-box;
    border-radius: 6px;
    border: solid 4px transparent;
  }
  .universo::-webkit-scrollbar-track-piece:decrement {
    background-clip: content-box;
    border: solid 4px transparent;
  }
  .universo::-webkit-scrollbar-thumb {
    background-color: #9c62f3e1;
    width: 4px;
    border-radius: 6px;
  }
  .universo::-webkit-scrollbar-track {
    /*background: #EFF7F8;*/
    background: #ffffff5e;
    border-radius: 50px;
  }

  .title {
    align-self: center;
    order: 0;
  }

  .btn {
    width: 70%;
    font-size: 20px;
    font-weight: bold;
    color: #3ef1f2;
    border: #3ef1f2 1px solid;
    border-radius: 50px;
    background-color: #5675d141;
  }

  .galaxias-container {
    display: flex;
    flex-direction: column;
  }

  .galaxia {
    width: 45vw;
  }

  .a,
  .b,
  .c,
  .d,
  .e,
  .f {
    order: 1;
  }
  .c {
    align-self: stretch;
  }
  .f {
    align-self: stretch;
    padding-bottom: 45px;
  }
}
