.universo{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.galaxias-container{
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20% 20% 20%;
}
.galaxia-content{
  margin: 20px;
}
.galaxia{
  height: auto;
  width: 15vw;
}
.galaxia:hover{
  cursor: pointer;
}
@media screen and (max-width:992px) {
  .galaxia{
    height: auto;
    width: 30vw;
  }
}
