<div class="universo" *ngIf="mostrarUniverso==true;">
  <div class="galaxias-content">
    <div class="galaxia-content" (click)="viaLactea()">
      <label>Via Lactea</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
    <div class="galaxia-content" (click)="andromeda()">
      <label>Andromeda</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
    <div class="galaxia-content" (click)="m3()">
      <label>M3</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
    <div class="galaxia-content" (click)="magallanes()">
      <label>Nube de Magallanes</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
    <div class="galaxia-content" (click)="ngc2936()">
      <label>NGC 2936</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
    <div class="galaxia-content" (click)="ngc1672()">
      <label>NGC 1672</label>
      <img class="galaxia" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/gettyimages-85757065-1649322336.jpg" alt="" >
    </div>
  </div>
  <button type="button" (click)="zoomSolar()">Zoom +</button>
</div>
<app-sistema-solar *ngIf="mostrarSistemaSolar==true"></app-sistema-solar>
<app-galaxias *ngIf="mostrarGalaxia==true;" [galaxiaSelected]="selecGalaxia"></app-galaxias>
