<div class="universo" *ngIf="mostrarUniverso==true;">
  <div class="galaxias-content">
    <div class="galaxia-content" (click)="viaLactea()">
      <label>Via Lactea</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
    <div class="galaxia-content" (click)="andromeda()">
      <label>Andromeda</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
    <div class="galaxia-content" (click)="m3()">
      <label>M3</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
    <div class="galaxia-content" (click)="magallanes()">
      <label>Nube de Magallanes</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
    <div class="galaxia-content" (click)="ngc2936()">
      <label>NGC 2936</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
    <div class="galaxia-content" (click)="ngc1672()">
      <label>NGC 1672</label>
      <img class="galaxia" src="https://www.pngmart.com/files/17/Universe-Galaxy-Space-PNG-Photos.png" alt="" >
    </div>
  </div>
  <button class="btn btn-danger" type="button" (click)="zoomSolar()">Zoom +</button>
</div>
<app-galaxias *ngIf="mostrarUniverso==false;" [galaxiaSelected]="selecGalaxia"></app-galaxias>
