<div class="container-fluid estrella" *ngIf="mostrarEstrellas===true">
  <div class="estrellas-container">
    <div class="estrella-item" *ngFor="let item of estrellasDatos" >
      <p>Clase: {{item.clase}}</p>
      <p>Color: {{item.color}}</p>
      <p>Temperatura: {{item.temperatura}}</p>
      <p>Masa: {{item.masa}}</p>
      <img class="estrella-imagen" src={{item.image}} (click)="seleccion(item.id)">
    </div>
  </div>
  <button class="btn btn-outline-light" type="button" (click)="irSistema()"> Zoom-</button>
</div>
<app-tipo-estrella [selecEstrella]="estrellasSelec" *ngIf="mostrarEstrellas===false"></app-tipo-estrella>
