<div class="estrella" *ngIf="mostrarEstrellas === true">
  <div class="">
    <button class="btn-salir" type="button" (click)="irSistema()"></button>
  </div>
  <div class="estrellas-container">
    <!-- informacion de las estrellas -->
    <div class="estrella-item" *ngFor="let item of estrellasDatos">
      <p>Clase: {{ item.clase }}</p>
      <p>Color: {{ item.color }}</p>
      <p>Temperatura: {{ item.temperatura }}</p>
      <p>Masa: {{ item.masa }}</p>
      <!-- Haciendo click sobre la imagen se muestra la estrella seleccionada -->
      <img
        class="estrella-imagen"
        src="{{ item.image }}"
        (click)="seleccion(item.id)"
      />
    </div>

    <!-- Aqui se muestra un componente de mi estrella -->
    <div class="mi-estrella">
      <br />
      <br />
      <p>Mi estrella</p>
      <br />
      <!-- al hacer click en esta imagen te llevara al componente mi estrella -->
      <img
        class="estrella-imagen"
        src="../../../assets/Planetas/sol.png"
        (click)="naveMiEstrella()"
      />
    </div>
  </div>

  <!-- Menu de navegacion -->
</div>
<app-tipo-estrella
  [selecEstrella]="estrellasSelec"
  *ngIf="mostrarEstrellas === false"
></app-tipo-estrella>
