.estrella {
  display: flex;
  height: 100vh;
  padding: 15px;
  flex-direction: column;
  background-image: url(../../../assets/Estrellas/Fondo-Estrellas.png);
  user-select: none;
}
.estrellas-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.estrella-grid {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.estrella-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.estrella-imgContainer {
  width: 250px;
  height: 160px;
  border: solid 5px #11cec9;
  border-radius: 79px;
  background-color: #080a16;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.estrella-desc {
  height: 120px;
  width: 107%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #39dcdf;
  border-radius: 15px;
  background-color: #030a1e;
  transform: translateX(-40px);
}
.estrella-imagen {
  width: 75px;
}
/** >>>>>>>>>> Buttons <<<<<<<<<*/
.btn-salir {
  width: 2.1vw;
  height: 2.1vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn-miEstrella {
  width: 10vw;
  margin: 10px;
  font-size: 1.2vw;
  font-family: "GoldplaySemiBold";
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background-color: #ca2eb3;
}
/** >>>>>>>> Fonts <<<<<<<<*/
p {
  font-family: "GoldplayRegular";
  font-size: 0.7vw;
  margin: 0px;
  text-align: left;
  width: 65%;
}
.title {
  font-family: "GoldplaySemiBold";
  color: #28bdf8;
}
