<div class="estrella" *ngIf="mostrarEstrellas === true">
  <div class="">
    <button class="btn-salir" type="button" (click)="irSistema()"></button>
  </div>
  <div class="estrellas-container">
    <!-- informacion de las estrellas -->
    <div class="estrella-grid">
      <div
        class="estrella-item"
        *ngFor="let item of estrellasDatos"
        (click)="seleccion(item.id)"
      >
        <!-- Haciendo click sobre la imagen se muestra la estrella seleccionada -->
        <div class="estrella-imgContainer">
          <img class="estrella-imagen" src="{{ item.image }}" />
        </div>
        <div class="estrella-desc">
          <p class="title">Clase: {{ item.clase }}</p>
          <p>Color: {{ item.color }}</p>
          <p>Temperatura: {{ item.temperatura }}</p>
          <p>Masa: {{ item.masa }}</p>
        </div>
      </div>
    </div>
    <button class="btn-miEstrella" (click)="naveMiEstrella()">
      Mi estrella
    </button>
  </div>
</div>

<app-tipo-estrella
  [selecEstrella]="estrellasSelec"
  *ngIf="mostrarEstrellas === false"
></app-tipo-estrella>
