.estrella {
  display: flex;
  height: 100vh;
  padding: 40px;
  flex-direction: column;
  background-image: url(../../../assets/Estrellas/Fondo-Estrellas.png);
  user-select: none;
  overflow-y: auto;
}

.estrella::-webkit-scrollbar {
  width: 13px;
  height: 10px;
}
.estrella::-webkit-scrollbar-track-piece {
  border-radius: 2px;
  background-clip: content-box;
  border-radius: 6px;
  border: solid 4px transparent;
}
.estrella::-webkit-scrollbar-track-piece:decrement {
  background-clip: content-box;
  border: solid 4px transparent;
}
.estrella::-webkit-scrollbar-thumb {
  background-color: #9c62f3e1;
  width: 4px;
  border-radius: 6px;
}
.estrella::-webkit-scrollbar-track {
  /*background: #EFF7F8;*/
  background: #ffffff5e;
  border-radius: 50px;
}

.estrellas-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}
.estrella-grid {
  height: 85%;
  width: 85%;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
.estrella-item {
  height: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.estrella-item:hover {
  .estrella-imgContainer {
    cursor: pointer;
    box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
    -webkit-box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
    -moz-box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
  }
  .estrella-desc {
    cursor: pointer;
    box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
    -webkit-box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
    -moz-box-shadow: 3px 1px 30px 5px rgba(56, 220, 222, 0.69);
  }
}
.estrella-imgContainer {
  width: 145px;
  height: 145px;
  border: solid 5px #11cec9;
  border-radius: 79px;
  background-color: #080a16;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.estrella-desc {
  height: 120px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px #39dcdf;
  border-radius: 15px;
  background-color: #030a1e;
  transform: translateX(-40px);
}
.estrella-imagen {
  width: 135px;
}

/** >>>>>>>>>> Buttons <<<<<<<<<*/
.btn-salir {
  width: 2.1vw;
  height: 2.1vw;
  padding: 15px;
  border: #9b62f3 solid 1px;
  border-radius: 50px;
  background-color: #9c62f370;
  background-image: url(../../../assets/Planetas/flecha.png);
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center;
}
.btn-miEstrella {
  width: 13vw;
  margin: 10px;
  padding: 10px;
  font-size: 1.5vw;
  font-family: "GoldplaySemiBold";
  color: #ffffff;
  border: none;
  border-radius: 50px;
  background-color: #ca2eb3;
}
.btn-miEstrella:hover {
  transform: scale(1.1);
}
.salir-telescopio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px;
}
/** >>>>>>>> Fonts <<<<<<<<*/
p {
  font-family: "GoldplayRegular";
  font-size: 0.7vw;
  margin: 0px;
  text-align: left;
  width: 65%;
}
.title {
  font-family: "GoldplaySemiBold";
  color: #28bdf8;
}

/** >>>>>>>>>> Responsive Design <<<<<<<<<<*/
@media screen and (max-width: 1400px) {
  .estrella-imgContainer {
    width: 100px;
    height: 100px;
  }
  .estrella-imagen {
    width: 90px;
  }
  .estrella-desc {
    width: 69%;
    height: 87px;
  }
  p {
    width: 30%;
  }
}

@media screen and(max-width:992px) {
  .estrella-grid {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .estrella-grid {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }

  .estrella-grid::-webkit-scrollbar {
    width: 13px;
    height: 10px;
  }
  .estrella-grid::-webkit-scrollbar-track-piece {
    border-radius: 2px;
    background-clip: content-box;
    border-radius: 6px;
    border: solid 4px transparent;
  }
  .estrella-grid::-webkit-scrollbar-track-piece:decrement {
    background-clip: content-box;
    border: solid 4px transparent;
  }
  .estrella-grid::-webkit-scrollbar-thumb {
    background-color: #9c62f3e1;
    width: 4px;
    border-radius: 6px;
  }
  .estrella-grid::-webkit-scrollbar-track {
    /*background: #EFF7F8;*/
    background: #ffffff5e;
    border-radius: 50px;
  }

  .estrella-imgContainer {
    width: 150px;
    height: 150px;
  }
  .estrella-imagen {
    width: 140px;
  }
  .estrella-item {
    margin: 15px 5px;
    width: 90%;
  }
  .estrella-desc {
    width: 70%;
    height: 135px;
  }
  .btn-miEstrella {
    margin-top: 15%;
    width: 100%;
    font-size: 3vw;
  }
  p {
    width: 25vw;
    font-size: 2vw;
  }
}
