<div #telescopio class="telescopio-container">
  <section class="telescopio">
    <div class="img-magnifier-container">
      <img id="myimage" src="{{ datos[0] }}" />
    </div>
  </section>

  <section class="menu">
    <h1>{{ datos[1] }}</h1>
    <p class="descripcion" [innerHtml]="datos[2]"></p>
    <div class="btn-container">
      <button id="aumentar" class="btn left">Zoom +</button>
      <button id="disminuir" class="btn right">Zoom -</button>
      <button id="open" class="btn left">Abrir</button>
      <button id="close" class="btn right">Cerrar</button>
    </div>
  </section>
</div>
